button {
  transition: all .5s ease;
  color: #fdf9f9;
  border: 1px solid rgb(231, 225, 225);
  font-family:'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 15px;
  padding: 10px;
  outline: none;
  border-radius: 4px;
}
button:hover {
  color: #001F3F;
  background-color: #74B146;
}


