<form (ngSubmit)="onReply(InputReply)" #InputReply="ngForm">
  <div class= "container">
    <div
    class="alert alert-info"
    role="alert"
    *ngIf="replySubmit"
    style="cursor: pointer;"
    >
    Your reply has been received!
  </div>
    <div class="form-group">
      <label for="postText">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        [ngModel]="this.reply.title"
        >
    </div>
    <div class="form-group">
      <label for="postText">Text</label>
      <input
        type="text"
        class="form-control"
        name="postText"
        id="postText"
        style = "width: 40rem; height:2.5in"
        [ngModel]="this.reply.postText"
        required>
    </div>
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!InputReply.valid"
      (click)="commentSubmit()"
      >
      Submit
    </button>
  </div>
</form>
