<h1>Discussions</h1>
<div class="container">
  <button
  type="button"
  class="btn btn-success"
  (click)="onClickOpenForm()">
    +
  </button>
</div>

<form (ngSubmit)="onAddPost(InputRef)" #InputRef="ngForm" [hidden]="!onClickOpenForm()">
  <div class= "container">
    <div class="form-group">
      <label for="postText">Text</label>
      <input
        type="text"
        class="form-control"
        name="postText"
        id="postText"
        style = "width: 40rem; height:2.5in"
        [ngModel]="this.post.postText"
        required>
    </div>
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!InputRef.valid">
      Submit
    </button>
  </div>
</form>

<hr>

