<h1>Discussions</h1>

<form (ngSubmit)="onAddPost(InputRef)" #InputRef="ngForm">
  <div
    class="alert alert-info"
    role="alert"
    *ngIf="discussionSubmit"
    style="cursor: pointer;"
    routerLink="/discussion">
    Your discussion has been received!
  </div>
  <div class= "container">
    <div class="form-group">
      <label for="postText">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        [ngModel]="this.post.postText"
        >
    </div>
    <div class="form-group">
      <label for="postText">Text</label>
      <input
        type="text"
        class="form-control"
        name="postText"
        id="postText"
        style = "width: 40rem; height:2.5in"
        [ngModel]="this.post.postText"
        required>
    </div>
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!InputRef.valid"
      (click)="didSubmit()"
      >
      Submit
    </button> |
    <button
      type="button"
      class=" btn btn-danger"
      routerLink="/discussion"
      >
      Cancel
    </button>
  </div>
</form>


