
<div class="container" style="justify-content: center;">
    <div class="row">
        <div class="col-6">
            <h3>Saved Discussions</h3>
            <div class="list-group">
                <a
                    class="list-group-item"
                    style="cursor: pointer;"
                    routerLink="/discussion/{{i}}"
                    *ngFor="let post of discussion; let i = index">
                    {{post.title}}
                </a>
            </div>
        </div>
        <div class="col-6">
            <h3>Saved Job Postings</h3>
        </div>
    </div>
</div>
<app-dashboard-calendar></app-dashboard-calendar>
